
// base defaults
params.input  = "https://raw.githubusercontent.com/mahtinaaa/exam_files/main/Predicting_Fatty_Liver_Disease_Risk_Score.tsv"

// defaults
params.outdir = "./"
params.max_cpus        = 2
params.max_memory      = 4.GB

process {
	// default
	machineType = 'n1-standard-1'
	disk        = '100 GB'
	// specific resources
	withName: LINEAR_REGRESSION {
		machineType = 'n1-standard-2'
	}
	withName: K_NEAREST_NEIGHBOURS {
		machineType = 'n1-standard-2'
	}
        withName: RANDOM_FORREST {
                machineType = 'n1-standard-2'
        }
}

profiles {
    gls {
        process.executor = 'google-batch'
        workDir = 'gs://unipv-mbg-st-norouzi-data'
        google.location = 'europe-west4'
        google.region  = 'europe-west4'
        google.project = 'mbg-bigdata-student-norouzi'
        google.batch.usePrivateAddress = 'true'
        google.batch.spot = true
        fusion.enabled = true
        wave.enabled = true
        process.scratch = false
    }
}
